*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
}
body{
    background-color: var(--bg-100);
    color: var(--text-100);
    position: relative;
}

.btn{
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--text-100);
    color: var(--bg-100);
    text-align: center;  
    width: 100px;
    height: 40px;  
    display: grid;
    place-content: center;
}
.section{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
/*
                ****************************************************************
                                        Header
                **************************************************************** 
*/

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-100);
    width: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
}

header .heading {
    font-size: 2.5em;
    padding-left: 20px;
    cursor: pointer;
}
.header-nav li{
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 600;
}
.menu{
    display: none;
    padding: 15px 20px;
}
.menu svg{
    width: 20px;
    cursor: pointer;
    fill: var(--text-100);
}
@media screen  and (max-width:700px) {
    nav{
        display: none;
    }
    .menu{
        display: block;
    }
    
}

/*
                ****************************************************************
                                        Main
                **************************************************************** 
*/
main{
    margin-top: 60px;
}
/* section-table */
.section-table{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
    /* table-inps */
.table-inps{
    position: relative;
    height: 100%;
    background-color: var(--faded-black);
    display: flex;
    place-content: center start;
}
.inps{
    position: fixed;
    background-color: var(--bg-200);
    height: 100%;
    display: grid;
    place-content:center;
    gap: 30px;
}
.inp{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}
input{
    padding: 0 10px;
}
label +:is(input,select){
    min-width: 100px;
    height: 30px;
    border-radius: 20px;
    width: 200px;
    border: none;
    background-color: aliceblue;

}
input:is(:focus,:focus-within){
    outline: black dotted 2px;
}
select{
    text-align: center;
}
.add-transaction{
    display: grid;
    place-content: center end;
    margin: 0 20px;
}


@media screen and (max-width:700px){
    .inp{
        flex-flow: column;
        
    }
}

/* table-section */
.table{
    display: grid;
    place-content: end center;
}
.section-table table{
    text-align: center;
    
}
table{
    border-collapse: collapse;
}
td,th{
    padding: 20px 30px;
    border: none;
    text-align: center;
}
tr:has(th){
    background-color: var(--accent-100);
    margin: 0;
    
}
tr:not(:has(th)):nth-child(2n){
    background-color:var(--bg-300);
}
.total-row{
    background-color: var(--accent-200);
}

tFoot th{
    text-align: start;
}
tfoot :is(th,td){
    font-size: 1.15em;
}
tfoot tr{
    margin-bottom: 20px;
}
@media only screen and (max-width:700px){
td,th{
    padding: 10px 18px ;
    
}
}
.filter-type{
    display: flex;
    flex-flow: column nowrap;
}
.filter-transaction{
    display: grid;
    place-content: center end;
    margin-right: 20px;
}
.filter-by-amount select{
    border-radius: 20px;
    border: none;
    background-color: var(--bg-100);
    appearance: none;
    width: 30px;
    font-size: 1.2em;
    text-align: center;

}


/* added class lists */
.focus-nav{
    border-bottom: 2px solid var(--text-100);
    }
.hidden{
    display: none;
}

